@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0
    }

    to {
      height: var(--radix-accordion-content-height)
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height)
    }

    to {
      height: 0
    }
  }
}

/* Custom Utilities */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1400px;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #0f172a;
  --primary-foreground: #f8fafc;

  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;

  --accent: #f8fafc;
  --accent-foreground: #0f172a;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #0f172a;

  --radius: 0.5rem;
}

.dark {
  --background: #020817;
  --foreground: #f8fafc;

  --primary: #f8fafc;
  --primary-foreground: #0f172a;

  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;

  --accent: #1e293b;
  --accent-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --card: #020817;
  --card-foreground: #f8fafc;

  --border: #1e293b;
  --input: #1e293b;
  --ring: #cbd5e1;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold tracking-tight;
  }
}